@charset "utf-8";


svg {
	display: block;
	margin: 10px;
	padding: 10px;
	border: 1px solid hsl(210,0%,30%);
}

.node {
  stroke: #999;
  stroke-width: 1px;
}

.link {
  stroke: #333;
  opacity:0.6;
}
