@charset "utf-8";

#sketchpad {
	padding: 20px;
}
svg {
	display: block;
	padding: 20px;
	margin: 10px;
	border: 1px solid hsl(210,0%,30%);
}

#BFS::before {
	content: "BFS";
}

#DFS::before {
	content: "DFS";
}

.node {
  stroke: #999;
  stroke-width: 1px;
}

.link {
  stroke: #333;
  opacity:0.6;
}
